@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

/* Custom scrollbar styles */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
* {
  scroll-behavior: smooth;
}

.Poppins {
  font-family: "Poppins", sans-serif;
}
.Raleway {
  font-family: "Raleway", sans-serif;
}

.max-page-width {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /* border: 2px solid blue; */
}

button {
  cursor: pointer;
}
